<tabs class="page-tabs" active-tab="pageCtrl.activePageTab" tabs="{about: 'About', install: 'Install &amp; Setup', usage: 'Usage'}">
	<!-- About. -->
	<div class="tabs__content">
		<%- include partials/_intro.html.ejs %>

		<h2 class="font__headline">Guidelines</h2>
		<h3 class="font__title">Approved Colors</h3>
		<p>Only approved colors should be used. Any exception requires UX approval. <em>Note: Very few non-neutral colors are provided since we should be using client-specific colors.</em></p>

		<% data.colors.forEach(category => { %>
			<% if (category.heading) { %><h4 class="font__title heading__separator"><%= category.heading %></h4><% } %>
			<% if (category.description) { %><p><%- category.description %></p><% } %>
			<ul class="pg-colors__colors-list">
				<% category.colors.forEach(color => { %>
					<li class="pg-colors__color<% if (category.darkBg) { %> pg-colors__color--dark<% } %>">
						<div class="pg-colors__color-value bg__<%= color.name %>">
							<span class="pg-colors__color-name"><%= color.name %></span>
							<span><%= color.hex %></span>
							<span><%= color.hsl %></span>
						</div>
						<div class="pg-colors__color-meta"><%= color.usage %></div>
					</li>
				<% }); %>
			</ul>
		<% }); %>
	</div>

	<!-- Install & Setup. -->
	<div class="tabs__content">
		<%- include partials/_install.html.ejs %>
	</div>

	<!-- Usage. -->
	<div class="tabs__content">
		<h2 class="font__headline">Usage</h2>
		<h3 class="font__title heading__separator">Need to know</h3>
		<ul class="bullets">
			<li><em>Never</em> use the <code>background-color</code> property.</li>
			<li><em>Always</em> use the <code>@include bg($name)</code> mixin.</li>
		</ul>

		<h3 class="font__title heading__separator">Classes and Helpers</h3>
		<h4 class="font__subheading"><code>c($name)</code></h4>
		<p><em>Type</em>: SASS function</p>
		<p><em>Purpose</em>: Get the color value for <code>$name</code>.</p>
		<p><em>Example</em>:</p>
		<editor lang="scss,css:result">
			<pre>.my-selector {
	border: 1px solid c(dark4);
}</pre>
			<pre>.my-selector {
	border: 1px solid hsl(0, 0%, 0%, 0.12);
}</pre>
		</editor>

		<h4 class="font__subheading"><code>color($name, $level: 1)</code></h4>
		<p><em>Type</em>: SASS function</p>
		<p><em>Purpose</em>:<br>Apply a light or dark color to the <code>color</code> property based on the background color value of <code>$name</code>. In other words, calling <code>color(hsl(0, 0%, 0%), 2)</code> will return the color value for <code>light2</code>.</p>
		<p><em>Example</em>:</p>
		<editor lang="scss,css:result">
			<pre>.my-selector {
	background-color: c(dark);
	border: 1px solid c(dark, 4);
}</pre>
			<pre>.my-selector {
	background-color: hsl(0, 0%, 0%, 0.87);
	border: 1px solid hsl(0, 0%, 0%, 0.12);
}</pre>
		</editor>

		<h4 class="font__subheading"><code>@include bg($name, $level: 1);</code></h4>
		<p><em>Type</em>: SASS mixin</p>
		<p><em>Purpose</em>: Apply <code>background-color</code> and <code>color</code> values to a selector.</p>
		<p><em>Example</em>:</p>
		<editor lang="scss,css:result">
			<pre>.my-selector {
	@include bg(dark, 2);
}</pre>
			<pre>.my-selector {
	background-color: hsl(0, 0%, 0%, 0.87);
	color: hsl(0, 0%, 0%, 0.54);
}</pre>
		</editor>
	</div>

	<!-- Examples. -->
	<!-- <div class="tabs__content" data-ng-class="{'tabs__content--active': pageCtrl.activePageTab === 'examples'}"></div> -->
