<% if (page.browsers) { %><h3 class="font__title2 mt-0 heading__separator">Browser support</h3>
<table class="browsers-table">
	<thead>
		<tr>
			<th>Chrome</th>
			<th>Firefox</th>
			<th>Safari</th>
			<th>Edge</th>
			<th>IE</th>
			<th>iOS</th>
			<th>Android</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><brik-icon name="google-chrome" size="4rem" fill="hsla(0, 0%, 0%, <%= page.browsers === true || page.browsers.chrome ? '0.5' : '0.2' %>"></brik-icon> <% if (typeof page.browsers.chrome === 'string') { %><div class="browsers-table__icon-label"><%= page.browsers.chrome %></div><% } %></td>
			<td><brik-icon name="firefox" size="4rem" fill="hsla(0, 0%, 0%, <%= page.browsers === true || page.browsers.firefox ? '0.5' : '0.2' %>"></brik-icon> <% if (typeof page.browsers.firefox === 'string') { %><div class="browsers-table__icon-label"><%= page.browsers.firefox %></div><% } %></td>
			<td><brik-icon name="apple-safari" size="4rem" fill="hsla(0, 0%, 0%, <%= page.browsers === true || page.browsers.safari ? '0.5' : '0.2' %>"></brik-icon> <% if (typeof page.browsers.safari === 'string') { %><div class="browsers-table__icon-label"><%= page.browsers.safari %></div><% } %></td>
			<td><brik-icon name="edge" size="4rem" fill="hsla(0, 0%, 0%, <%= page.browsers === true || page.browsers.edge ? '0.5' : '0.2' %>"></brik-icon> <% if (typeof page.browsers.edge === 'string') { %><div class="browsers-table__icon-label"><%= page.browsers.edge %></div><% } %></td>
			<td><brik-icon name="edge" size="4rem" fill="hsla(0, 0%, 0%, <%= page.browsers === true || page.browsers.ie ? '0.5' : '0.2' %>"></brik-icon> <% if (page.browsers === true || typeof page.browsers.ie === 'string') { %><div class="browsers-table__icon-label"><%= page.browsers === true ? '11' : page.browsers.ie %></div><% } %></td>
			<td><brik-icon name="apple-ios" size="4rem" fill="hsla(0, 0%, 0%, <%= page.browsers === true || page.browsers.ios ? '0.5' : '0.2' %>"></brik-icon> <% if (typeof page.browsers.ios === 'string') { %><div class="browsers-table__icon-label"><%= page.browsers.ios %></div><% } %></td>
			<td><brik-icon name="android" size="4rem" fill="hsla(0, 0%, 0%, <%= page.browsers === true || page.browsers.android ? '0.5' : '0.2' %>"></brik-icon> <% if (typeof page.browsers.android === 'string') { %><div class="browsers-table__icon-label"><%= page.browsers.android %></div><% } %></td>
		</tr>
	</tbody>
</table><% } %>

<h3 class="font__title2 heading__separator">Install</h3>

<% if (page.isCore) { %><p>It is encouraged to install <%= page.name %> with DSUI Core:</p>
<brik-code lang="bash">npm install @brikcss/core --save-dev</brik-code>

<p>You may install <%= page.name %> as a standalone package:</p><% } %>
<brik-code lang="bash">npm install <%= page.npmPath %> --save-dev</brik-code>

<% if (typeof page.setup === 'string') { %>
	<h3 class="font__title2 heading__separator">Setup</h3>
	<%- page.setup _%>
<% } else if (typeof page.setup === 'object') { %><h3 class="font__title2 heading__separator">Setup</h3>
<% if (page.setup.summary) { %><%- page.setup.summary %><% } %>
<% if (page.setup.list) { %><ol class="numbers">
	<% page.setup.list.forEach(item => { %>
		<% if (typeof item === 'object') { %>
			<li><%- item.intro %>
				<% if (item.class === 'numbers') { %><ol class="numbers"><% } else { %><ul class="bullets"><% } %>
					<% item.list.forEach(subitem => { %><li><%- subitem %></li><% }); %>
				<% if (item.class === 'numbers') { %></ol><% } else { %></ul><% } %>
			</li>
		<% } else { %><li><%- item %></li><% } %>
	<% }); %>
</ol><% } %>
<% } %>
